

<div class="footer page-section" id="contact-link">
	<div class="wrapper">
			<div class="row row-6__left  footer__left">
				<h2 class="footer__header">Quick Links</h2>
				<h4 class="footer__text"><a href="index.html">Home</a></h4>
				<h4 class="footer__text"><a href="maintenance.html#swimming" id="swimming-link">Pool & Hot Tub Maintenance</h4>
				<h4 class="footer__text"><a href="maintenance.html#repair" id="repair-link">Equipment Repair</h4>
				<h4 class="footer__text"><a href="maintenance.html#ozone" id="ozone-link">Salt & UV Systems</h4>
				<h4 class="footer__text"><a href="winter.html#winter" id="winter-link">Winterisation</a></h4>
				<h4 class="footer__text"><a href="winter.html#spring" id="spring-link">Spring Opening</h4>
				<h4 class="footer__text"><a href="gallery.html">Gallery</a></h4>
				<h4 class="footer__text"><a href="index.html#testimonials">Testimonials</h4>

			</div>

			<div class="row row-6__left  footer__left">
				<h2 class="footer__header">Contact Details</h2>
				<h4 class="footer__text">11548 207 Street</h4>
				<h4 class="footer__text">Maple Ridge</h4>
				<h4 class="footer__text">V2X 1X1</h4>
				<h4 class="footer__text-space">
					Tel: <a title="Call us today!" href="tel:0016043070591"> 604-307-0591</a></h4>
				<h4 class="footer__text-space">
					Email: <a href="mailto:poolman4u@gmail.com?Subject=Pool%20enquiry" target="_top"> poolman4u@gmail.com</a></h4>


			</div>
	</div>

	<div class="footer__full">
			<div class="wrapper">
	          	<p><span class="site-footer__text">Copyright &copy; 2018 Beemer Pool & Spa. All rights reserved. </span><a href="contact.html" class="btn btn__footer-full"> Get in Touch</a></p>
	          	<p class="footer__full-website">Website by Alissa Eggleston</p>
	    	</div>
	</div>
</div>

<!-- build:js assets/scripts/App.js -->
 <script type="text/javascript" src="temp/scripts/App.js"></script>	
 <!-- endbuild -->

 
</body>
</html>


