<!DOCTYPE html>


<html>
		<head>
			<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-120018541-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-120018541-1');
</script>

		  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		  	<meta charset="UTF-8">

		  
		  	<meta name="keywords" content="Beemer Pools, Pool and Spa Maintenance, swimming pools, hot tubs, spas, hot tub covers, pool covers, Pool winterisation, Hot Tub Maintenance, Pools, Spa, Hot Tubs, Maple Ridge, Port Coquitlam, Pitt Meadows, Maple Ridge, Anmore, Pool liners, Pool cleaning">
		  	
		  	<link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png"/>
		  	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
		  	<meta property="og:description" content="Pool and Spa maintenance in the Tri-City, Maple Ridge & Anmore area">
			<meta property="og:title" content="Beemer Pools:  Pool and Spa maintenance Tri-City, Maple Ridge & Anmore">
			<meta property="og:url" content="www.beemerpools.ca">
			<meta property="og:image" content="http://beemerpools.ca/assets/images/Beemer-logo.svg">
			<meta property="business:contact_data:street_address" content="11548-207">
			<meta property="business:contact_data:locality" content="Maple Ridge">
			<meta property="business:contact_data:region" content="British Columbia">
			<meta property="business:contact_data:postal_code" content="V2X1X1">
			<meta property="business:contact_data:country_name" content="Canada">

<!-- build:css assets/styles/styles.css -->
		  <link rel="stylesheet" type="text/css" href="temp/styles/styles.css">
<!-- endbuild -->
<!-- build:js assets/scripts/Vendor.js -->
		  <script src="temp/scripts/Vendor.js"></script>
<!-- endbuild -->

<script type="application/ld+json"> { 
"@context" : "http://schema.org",
"@type" : "HomeAndConstructionBusiness",
"description": "Pool and Spa maintenance company",
"image": "http://beemerpools.ca/assets/images/summer-water-mobile.jpg",
"name":"Beemer Pools",
"url":"www.beemerpools.ca",
"email":"poolman4u@gmail.com",
"telephone":"6043070591",
  "address":
  {
  "@type": "PostalAddress",
  "streetAddress": "11548 207 St",
  "addressLocality": "Maple Ridge",
  "addressRegion": "B.C.",
  "addressCountry": "Canada"
  },
"areaServed": [
{
"@type": "City",
"name": "Port Coquitlam",
"sameAs": "https://www.wikidata.org/wiki/Q643326"
},
{
"@type": "City",
"name": "Port Coquitlam",
"sameAs": "https://www.wikidata.org/wiki/Q643326"
},
{
"@type": "City",
"name": "Coquitlam",
"sameAs": "https://www.wikidata.org/wiki/Q643215"
},
{
"@type": "City",
"name": "Pitt Meadows",
"sameAs": "https://www.wikidata.org/wiki/Q1369892"
},
{
"@type": "City",
"name": "Maple Ridge",
"sameAs": "https://www.wikidata.org/wiki/Q16740"
},
{
"@type": "City",
"name": "Anmore",
"sameAs": "https://www.wikidata.org/wiki/Q557967"
}
]
} </script>

