<!DOCTYPE html>


<html>
		<head>
		  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

		  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700" rel="stylesheet" type="text/css">
		  <title>Beemer Pools</title>
		  <meta name="keywords" content="Pool and Spa Maintenance, cleaning, products, vancouver, Tri-City">
		  <meta name="description" content="Pool and Span Maintenance"> 
		  <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png"/>

<!-- build:css /assets/styles/styles.css -->
		  <link rel="stylesheet" type="text/css" href="temp/styles/styles.css">
<!-- endbuild -->
<!-- build:js /assets/scripts/Vendor.js -->
		  <script src="/temp/scripts/Vendor.js"></script>
<!-- endbuild -->


		</head>

<body>
		<header class="logo-header page-section__header">
			<div class="wrapper">
			    <div class="row">
			      	<div class="row-5">
				        <a title="Beemer Pool Services" href="#"> 
				          <img class="logo-header__logo" alt="Beemer Pool Services" title="Beemer Pool Services" src="/assets/images/Beemer-logo.svg">
				        </a>
			      	</div>
				    <div class="row-7">
				        <div class="logo-header__right-container">

					        	<ul>
					        		<li>
					        			<a class="logo-header__phone" title="Call us today!" href="tel:0016043070591">604-307-0591</a>
					        		</li>
									<li>
										<a class="logo-header__facebook" target="_blank" href="https://www.facebook.com/Beemer-Pools-Ltd-1463274167317116">
											<img class="logo-header__icon" src="/assets/images/icons/facebook.svg">
										</a>
									</li>
								</ul>

						</div>
					</div>
			    </div>
			</div>
		</header>


		<div class="site-header">
			<nav class="primary-nav">
				<div class="wrapper">
					<div class="site-header__menu-icon-blue">
						<div class="site-header__menu-icon">
							<div class="site-header__menu-icon__middle"></div>
						</div>
					</div>

						<div class="site-header__menu-content">
							<ul>
						        <li><a href="index.html" id="home-link">Home</a></li>
								<li><a href="maintenance.html" id="services-link">Services</a></li>
						        <li><a href="gallery.html" id="gallery-link">Gallery</a></li>
						        <li><a href="index.html#testimonials" id="testimonials-link">Testimonials</a></li>
						        <li><a href="contact.html" id="contact-link">Contact</a></li>
					     	 </ul>
					    </div>
			  	</div>
			</nav>
		</div>