@media (min-width: 530px){
		@mixin-content;
	}


* {
	box-sizing: border-box;
}


body {
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #FFF;
	margin: 0;
	min-height: 100%;
}


img {
	max-width: 100%;
	height: auto;
}


.row::after {
		content: "";
		clear: both;
		display: table;
	}


@media (min-width: 780px){


.row-5 {
		float: left;
		width: 41.66%;
		padding-right: 20px;

	    border-top-width: 20px

	}
	}


@media (min-width: 780px){


.row-7{
		float: left;
		width: 58.33%;
		padding-right: 20px;
	    padding-bottom: 20px;
	    border-top-width: 20px
	}
	}


@media (min-width: 780px){


.row-6 {
			float: right;
			width: 50%;
			padding-right: 20px;
		    padding-bottom: 20px;
		    border-top-width: 20px
	}
	}


.wrapper {

	padding-left: 18px;
	padding-right: 18px;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;

}


.logo-header {
	width: auto;
	border: 2px solid #000;

}


.logo-header__logo {

		margin-left: auto;
		margin-right: auto;
	}


@media (min-width: 780px){


.logo-header__logo {
		padding-top: 10px;
		padding-bottom: 10px
	}
	}


.logo-header li {
		display: inline-block;
		list-style: none;
		padding-left: 30px;
	}


@media (min-width: 780px){


.logo-header li {

		padding-right: 20px
	}
	}


.logo-header__phone {
		color: black;
		text-decoration: none;
		font-weight: 400;
		font-size: 1rem;
		max-width: 200px;
		margin-top: 8px;
		display: block;
		padding: 5px 12px;
		border-radius: 25px;
		border: 1px solid black;

	}


@media (min-width: 780px){


.logo-header__phone {
		color: black;
		text-decoration: none;
		font-weight: 400;
		font-size: 1.5rem;
		max-width: 200px;
		margin-top: 8px;
		display: block;
		padding: 5px 12px;
		border-radius: 25px;
		border: 1px solid black

	}
	}


@media (min-width: 780px){


.logo-header__right-container {
		float: right
	}
	}


.primary-nav {

	background-color: #144D75;
}


.primary-nav ul {
		display: table;
		width: 100%;
		margin: 0;
		padding: 0;
	}


.primary-nav ul::after {
		content: "";
		clear: both;
		display: table;
	}


.primary-nav li {
		list-style: none;
		display: table-cell;
		text-align: center;
		padding: 15px;

	}


.primary-nav li:last-child {
		padding-right: 0;
	}


@media (min-width: 780px){


.primary-nav li:last-child {
			padding-right: 20px
	}
	}


.primary-nav a {
		color: white;
		text-decoration: none;
		font-weight: 400;
		font-size: 1.1rem;
/*		max-width: 200px;*/
/*		margin-top: 8px;*/
		display: block;
		padding: 5px 12px;
	}


.large-hero {

	border-bottom: 10px solid #0D253E;
	position: relative;
}


.large-hero__image {

		display: block;
	}


.large-hero__text-content {

		background-color: rgba(26, 75, 124, .75);

	}


@media (min-width: 780px){


.large-hero__text-content {
			color: white;
		padding-top: 88px;
		position: absolute;
		top: 50%; /*this vertically centers the text, but we need to pull it up a bit still*/
		-webkit-transform: translateY(-50%);
		        transform: translateY(-50%);/*pulls up the text 50% of itself vertically*/
		left: 0;
		width: 100%;
		text-align: right;
		max-width: 400px

	}
	}
