.btn {

		&__large-hero {
		background-color: #d59541;
		width: 100px;
		color: white;
		padding: 5px 5px;
		margin-left: auto;
		margin-right: auto;
		border-radius: 7px;


	}

	&__gallery {
		background-color: #d59541;
		width: 140px;
		color: white;
		padding: 12px 9px;
		margin-left: auto;
		margin-right: auto;
		border-radius: 7px;
		text-align: center;

		a {
		color: white;
		text-decoration: none;
		font-weight: 300;
	}
	}


}