.gallery {


	background-color: #EBF2F6;

/*
	&__effects {
		width: 50%;
		float: left;
		padding: 5px 12px;

		@mixin iPad {
			width: 100%;
		}

		@mixin laptop {
			padding: 0;
		}


	}*/

	img {
		border: 1px solid black;
		width: 100%;
		height: 300px;


		@mixin iPad {
		position: relative;
	    float: left;
	    width:  100px;
	    height: 100px;
	    background-position: 50% 50%;
	    background-repeat:   no-repeat;
	    background-size:     cover;

	}

	    @mixin laptop {
	    	width: 150px;
	    	height: 150px;
	    }
	}

	&__float {

		width: 100%;
		padding: 5px 12px;



		@mixin iPad{
		float: left;
		width: 33%;
		padding: 4px 8px;
	}


	}

	&__background {

		@mixin clearfix;

		@mixin laptop {
			margin-top: 45px;
			margin-bottom: 45px;
		}

	}



	&__heading {

		font-size: 1.5rem;
		font-weight: 300;
		text-align: center;


		@mixin iPad {
			padding-top: 15px;
			font-size: 1.5rem;
			font-weight: 300;
			text-align: center;
			margin: 0;
		}
	}

	&__subheading {
		font-size: 1.8rem;
		font-weight: 400;
		text-align: center;
		margin-top: 8px;


		@mixin iPad{
		font-size: 1.3rem;
		font-weight: 400;
		text-align: center;
		margin-top: 8px;
	}
	}


 	a {
 		display: inline-block;
 		text-decoration: none;

 	}
}

