.gallery {


	margin-left: 60px;
	margin-right: 60px;

	&__gallery {
		border: 1px solid #ccc;

		&:hover {
			border: 1px solid #777;
		}
	}

	&__desc {
		padding: 15px;
		text-align: center;
	}

	&__responsive {
		width: 100%;
		padding: 4px 8px;


    	@mixin iPad {
		    	padding: 0 6px;
		    	float: left;
		    	width: 49.99999%;
		    }


    	@mixin atSmall {
    		padding: 0 6px;
    		width: 24.99999%;
    		margin: 6px 0;
    		}
  
	}

	.clearfix:after {
    content: "";
    display: table;
    clear: both;
}



}
