.icons {

		text-align: center;


		&-container {/*__icon*/
				
				padding-top: 30px;

				@mixin iPad{
					display: inline-block;

				}

			}
		&-paragraph {
			color: blue;

			@mixin iPad{
					display: inline-block;

				}

		}

		&__image {/*.icon*/

				height: 60px;
				width: 60px;



			@mixin iPad {
				display: block;
				margin: 30px 45px;
			}


			@mixin laptop{

				margin: 30px 60px;
			}

			@mixin atLarge{
				margin: 30px 80px;

			}
		}

	p {
		text-align: center;
		font-weight: 400;

		@mixin iPad {
			width: 150px;
			margin-left: auto;
			margin-right: auto;
			height: 40px;
		}


		@mixin laptop {
			font-weight: 400;
		}
	}
}