.large-hero {

	border-bottom: 10px solid #0D253E;
	position: relative;

	&__image {

		display: block;
	}

	&__text-content {

		background-color: rgba(26, 75, 124, .75);

		@mixin atMedium {
			color: white;
		padding-top: 88px;
		position: absolute;
		top: 50%; /*this vertically centers the text, but we need to pull it up a bit still*/
		transform: translateY(-50%);/*pulls up the text 50% of itself vertically*/
		left: 0;
		width: 100%;
		text-align: right;
		max-width: 400px;
		}

	}
}