.logo-header {
	width: auto;
	border: 2px solid #000;

	&__facebook{
		fill: yellow;
	}
	&__logo {

		margin-left: auto;
		margin-right: auto;
		padding-top: 40px;

		@mixin atMedium {
		padding-top: 20px;
		}
	}

	li {
		display: inline-block;
		list-style: none;
		padding-left: 30px;


		@mixin atMedium {

		padding-right: 20px;
		}
	}

	&__phone {
		color: black;
		text-decoration: none;
		font-weight: 400;
		font-size: 1rem;
		max-width: 200px;
		margin-top: 8px;
		display: block;
		padding: 5px 12px;
		border-radius: 25px;
		border: 1px solid black;

		@mixin iPad{
			color: black;
			text-decoration: none;
			font-weight: 300;
			font-size: 1rem;
			max-width: 150px;
			margin-top: 8px;
			display: block;
			padding: 5px 12px;
			border-radius: 25px;
			border: 1px solid black;
		}

		@mixin atMedium {
		color: black;
		text-decoration: none;
		font-weight: 400;
		font-size: 1.5rem;
		max-width: 200px;
		margin-top: 8px;
		display: block;
		padding: 5px 12px;
		border-radius: 25px;
		border: 1px solid black;

		}

	}

	&__right-container {

	visibility: hidden;

		@mixin atMedium{
			visibility: visible;
		float: right;
		}
	}

}