.row {

	@mixin clearfix;



	&-3 {
		width: 100%;

		@mixin iPad {
			float: left;
			width: 25%;
			padding: 20px 8px;
		}

		@mixin laptop {
			padding: 20px 20px;
		}

		&__flexdirection-iPad {
			display: none;
		
			@mixin laptop {
				display: inline-flex;
				flex-direction: column;
		}
		}
	}

	&-4 {

		width: 100%;

		@mixin atMedium{
			float: left;
			width: 33.3333333%;
			padding-right: 20px;
			border-top-width: 20px;
		}

		@mixin laptop {
			padding-right: 5px;
			margin-top: 90px;
		}
	}

	&-5 {
		width: 100%;

		@mixin atMedium {
		float: left;
		width: 41.66%;
		padding-right: 20px;
	    border-top-width: 20px;
		}

	}

	&-7{
		width: 100%;

		@mixin atMedium {
		float: left;
		width: 58.33%;
		padding-right: 20px;
	    padding-bottom: 20px;
	    border-top-width: 20px;
		}
	}



	&-6__right {
		width: 100%;

		@mixin atMedium {
			float: right;
			width: 50%;
			padding-right: 20px;
		    border-top-width: 20px;
		}

		@mixin iPad {
			margin-bottom: 30px;
			float: left;
			width: 50%;
			padding-left: 10px;
		}

	}

	&-6__left  {
		width: 100%;

		@mixin atMedium {

			float: left;
			width: 50%;
			padding-right: 60px;
		    border-top-width: 20px;

		}

		@mixin iPad {
			margin-bottom: 30px;
			float: left;
			width: 50%;
			padding-left: 12px;
			padding-right: 12px;
		}

		@mixin laptop {
			padding-right: 10px;
			padding-left: 12px;

		}
		&-testimonial {
		width: 100%;



		@mixin iPad {
			margin-bottom: 30px;
			float: left;
			width: 50%;

		}

		}

	}

		&-8{
		width: 100%;

		@mixin atMedium {
		float: left;
		width: 66.6666666%;
		padding-right: 20px;
		padding-left: 20px;
	    padding-bottom: 20px;
	    border-top-width: 20px;
		}
	}

		&-9{
		width: 100%;

		@mixin iPad {
			float:left;
			width: 75%;
			padding: 20px 20px;
		}

		@mixin laptop {
		float: left;
		width: 75%;
		padding: 20px 20px;

		}
	}
/*Equal hieghts rules*/

	&--equal-height-at-iPad{

		@mixin iPad{
			display: flex;
		}

	}
}