.testimonials {
	padding-top: 1.2rem;
	width: 98%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 3px;
	background-color: white;

	@mixin iPhone{
		width: 94%;
	}

	@mixin iPad{
		background-color: white;

	}

	@mixin laptop {
		padding-bottom: 5px;
	}


	&__review {
		text-align: center;
		padding-bottom: 20px;


		@mixin iPad {
			text-align: center;
			padding-bottom: 20px;

		}





	}
}