.wrapper {
	clear:both;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;

		&-narrow {
			width: 85%;
			margin-left: auto;
			margin-right: auto;

			@mixin laptop {
				width: 100%;
			}
		}

	&__blog {
		clear: both;
		max-width: 335px;
		margin-left: auto;
		margin-right: auto;

		@mixin iPad {
			max-width: 650px;
		}

		@mixin laptop {
			max-width: 900px;
		}

		@mixin atLarge {
			max-width: 1200px;
		}


	}

	@mixin clearfix;

	&__smaller {
		max-width: 1200px;
		padding-left: 18px;
		padding-right: 18px;
		margin-left: auto;
		margin-right: auto;
	}


	@mixin clearfix;
}
